@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit}
legend{color:#000}
body{font:normal 14px/1.5 Tahoma,Helvetica,arial,sans-serif;color:#000;}

a{color:#666;text-decoration:none}
a:hover{text-decoration:underline}
.color-link{color:#ef8337}
.color-highlight{color:#f76120}
.color-text{color:#666}
.color-title{color:#333}
.color-weaken{color:#999}
.color-border{border-color:lightgrey}
.bgcolor-body{background-color:#f9f9f9}
.bgcolor-footer{background-color:#f6f6f6}

.tri{position:absolute;height:0;width:0;line-height:0;font-size:0;border:3px dashed transparent}

.common-close:hover{background-position:0 -15px;cursor:pointer}
.common-close--small{width:8px;height:8px;background-position:0 -30px}
.common-close--small:hover{background-position:0 -40px}

.btn-small{padding:3px 20px;*padding:3px 20px 1px;font-size:12px;font-weight:normal}
.btn-large{padding:5px 20px 4px;*padding:3px 20px 2px;font-size:20px;font-weight:normal}
.btn-mini{padding:1px 8px 0;font-size:12px;font-weight:normal}
.btn-fixed{width:100px;letter-spacing:.2em;overflow:hidden;text-overflow:ellipsis}
.dialog-sprite,.mt-dialog .head .close,.mt-dialog .no-title,.mt-dialog .result-box--tip i,.mt-dialog .result-box--failure i,.mt-dialog .result-box--success i,.mt-dialog .result-box--alert .alert-icon{background:url("../images/icon-status.png") no-repeat}
.mt-dialog{border:1px solid #ccc;background:white}
.mt-dialog .body{padding:30px;overflow:hidden;*zoom:1}
.mt-dialog .head{padding:0 15px;height:40px;line-height:40px;background:#f7f7f7;color:#333}
.mt-dialog .head .close{background-position:0 -318px;width:13px;height:13px;line-height:13px;text-indent:-9999px;font-weight:normal;cursor:pointer;}
.mt-dialog .head .close:hover,.mt-dialog .head .close.close_hover,.mt-dialog .head .close.close-hover{background-position:0 -333px}
.mt-dialog .no-title{background-position:0 -348px;width:10px;height:10px;line-height:10px;text-indent:-9999px;font-weight:normal;cursor:pointer;z-index:1}
.mt-dialog .no-title:hover,.mt-dialog .no-title.close-small_hover,.mt-dialog .no-title.close-small-hover{background-position:0 -360px}
.mt-dialog .result-box{width:160px;min-height:50px;_height:50px;margin:10px auto;padding-left:60px;*zoom:1}
.mt-dialog .result-box h5{font-size:20px;line-height:30px}
.mt-dialog .result-box p{font-size:12px;color:#666}
.mt-dialog .result-box p em{margin:0 2px;font-weight:bold;color:#C00}
.mt-dialog .result-box i{width:50px;height:50px}
.mt-dialog .result-box--tip i{background-position:0 -104px}
.mt-dialog .result-box--failure i{background-position:0 -52px}
.mt-dialog .result-box--success i{background-position:0 0}
.mt-dialog .result-box--alert{margin:20px auto;padding:0;min-height:0;width:88%}
.mt-dialog .result-box--alert .alert-icon{position:static;display:block;width:32px;height:32px;background-position:0 -224px}
.mt-dialog .result-box--alert .alert-table{width:100%}
.mt-dialog .result-box--alert .alert-msg{margin-left:10px}
.mt-dialog .result-box--alert p{font-size:14px}
.mt-dialog .no-tip{width:110px}
.mt-dialog .no-tip h5{line-height:46px}
.mt-dialog textarea{margin:5px 0 10px;width:350px}
.mt-dialog p.text{margin:5px 0 10px}
.mt-dialog .error{margin:0 0 10px;color:#C00}
.mt-dialog .attention{margin:0 0 10px;color:#C00;font-weight:bold}
.mt-dialog .field{margin:0 0 10px}
.mt-dialog .loading{padding:20px 0;color:#333;background:url("../images/loading.gif") no-repeat center center}
.mt-dialog .average-point{font-weight:bold}
.mt-dialog .title{display:block;margin-top:5px}
.mt-dialog .info-window{min-height:100px;_height:100px;width:180px;padding-bottom:10px;font-size:12px}
.mt-dialog .info-window h5{font-size:14px}
.mt-dialog .info-window .description{color:#666}
.mt-dialog .cancel{margin-left:10px}
.mt-dialog .blk-tip{margin:0 0 10px;padding:8px 16px;font-size:12px;border:1px solid #f6e0af;background:#fffbf2}
.mt-dialog .blk-tip ul li{list-style:outside disc;margin-left:16px}
#mt-overlay-mask{background-color:black;opacity:.2;filter:alpha(opacity=20)}
#mt-overlay-iframe{width:1px;height:1px;border:0;background:transparent;opacity:0;filter:alpha(opacity=0)}
.mt-overlay-container .mt-overlay-underlay{background-color:#000;opacity:.15;filter:alpha(opacity=15);z-index:-1}
.common-tip{margin-bottom:10px;padding:10px 30px;border:1px #f5d8a7 solid;border-radius:2px;background:#fff6db;font-size:14px;text-align:center;color:#666}
.common-tip em{color:#f76120}
.common-tip .common-close{}
.common-bubble{padding:7px 25px 7px 20px;border:1px solid #f5d8a7;background-color:#fff6db;box-shadow:0 1px 1px #dedede;color:#666;font-family:'SimSun',Arial}
.common-bubble .common-close{}
.common-bubble em{color:#f76120}
.common-badge{display:inline-block;*display:inline;border-radius:2em;padding:1px 3px;*padding:0 3px 2px 3px;background:#f76120;font-size:11px;line-height:1em;color:#FFF;min-width:1em;_width:1em;transition:opacity .5s ease-in-out;opacity:1;text-align:center;zoom:1}
.common-badge--large{padding:2px 5px}

.form{margin:0 0 10px 0}

.steps-bar{margin-bottom:30px;font-size:0;line-height:0;background:#eee;border-radius:3px;overflow:hidden;white-space:nowrap}
.steps-bar .step{display:inline-block;*display:inline;width:245px;font-size:14px;line-height:30px;_line-height:29px;text-align:center;color:#666;*zoom:1;*vertical-align:top}
.steps-bar .step--post{color:#999}.steps-bar .step--current{color:#fff;background:#ff8900}
.steps-bar .step--current .arrow__foreground{border-left-color:#ff8900}
.steps-bar .step--last .icon--complete{width:17px;height:17px;}
.steps-bar .step__num{font-size:18px;font-weight:bold;font-family:Arial}
.steps-bar .arrow__foreground,.steps-bar .arrow__background{width:0;height:0;border-width:15px 0 15px 15px;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #eee;font-size:0;line-height:0;z-index:1}
.steps-bar .arrow__background{border-left-color:#FFF;border-width:17px 0 17px 17px}
.steps-bar--dark{background:#dedede}
.steps-bar--dark .arrow__foreground{border-color:transparent transparent transparent #dedede}
.table{width:100%;border:1px solid #e5e5e5;font-size:12px;text-align:left}
.table caption{padding:5px 8px;font-size:14px;font-weight:bold;color:#333}
.table tr th,.table tr td{border-bottom:1px dotted #e5e5e5;padding:13px 12px;font-size:12px}
.table tr th:first-child,.table tr td:first-child{padding-left:21px}
.table tr th:last-child,.table tr td:last-child{padding-right:21px;text-align:right}
.table tr th.center-column,.table tr td.center-column{text-align:center}
.table tr th.right-column,.table tr td.right-column{text-align:right}
.table tr th{border-bottom-style:solid;padding:7px 12px;font-size:14px;font-weight:bold;background:#f7f7f7}
.table tr td{background:#fff}.table tfoot{text-align:right;overflow:hidden;zoom:1}
.table tfoot tr td{padding-top:7px;padding-bottom:7px;background:#f7f7f7}
.cf{zoom:1}.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden}
span.money{font-family:arial}
span.required{color:red}

.f-input{font-size:14px;padding:3px 4px;border-color:#89b4d6;border-style:solid;border-width:1px}
.f-text{font-size:14px;padding:3px 4px;border-color:#89b4d6;border-style:solid;border-width:1px}
.f-textarea{font-size:14px;padding:3px 4px;border-color:#7c7c7c #c3c3c3 #ddd;border-style:solid;border-width:1px}
.f-select{font-size:14px;padding:3px 0 3px 4px;border-color:#89b4d6;border-style:solid;border-width:1px}
.f-submit{padding:4px 12px;*padding:5px 18px 0;border:2px solid;border-color:#82d0d4 #4d989b #54a3a7 #92d6d9;background:#63c5c8;color:#fff;letter-spacing:1px;cursor:pointer;*width:auto;_width:0;*overflow:visible}
.lnk-button{display:inline-block;padding:2px 12px;border:2px solid;border-color:#82d0d4 #4d989b #54a3a7 #92d6d9;background:#63c5c8;color:#fff;letter-spacing:1px;cursor:pointer;vertical-align:middle}
.lnk-button:hover{text-decoration:none;border-color:#82d0d4 #4d989b #54a3a7 #92d6d9}
.clear{clear:both}
.em-red{color:#c30}
.placeholder{color:#a9a9a9}
input.disabled{border:1px solid #ccc;background:#eee;color:#999;cursor:default}
.inline-block-wrapper{font-size:0;*word-spacing:-1px}
.inline-block{display:inline-block;*display:inline;zoom:1;*word-spacing:normal}
.sp-header-new{background-color:transparent;background-image:url("../images/newicon.png");background-repeat:no-repeat}

.bfc{overflow:hidden;zoom:1}
.go-top{display:block;width:50px;height:50px;overflow:hidden!important;border:1px solid #DDD;border-radius:2px;background:#FFF;outline:0;text-indent:-9999px}
.go-top i{width:30px;height:17px;background:url("../images/newicon.png") -36px -93px no-repeat}
.go-top:hover i{background-position:0 -93px;text-decoration:none;*cursor:pointer}
.icon-new{width:23px;height:12px;background:url("../images/newicon.png") -173px -62px no-repeat}

.rates{color:#f60;font-size:18px;font-family:tahoma,arial,sans-serif}
.rates-point{padding-left:2px;vertical-align:4px;font-size:12px}
.paginator{padding:10px 0;text-align:right;font-size:12px}
.paginator li{display:inline-block;*display:inline;margin-right:5px;border-radius:1px;color:#0BB;vertical-align:top;zoom:1}
.paginator .current,.paginator li a{padding:4px 6px;line-height:12px;border:1px solid #CCC;text-decoration:none}
.paginator .current{border-color:#badfdc;background-color:#edfffe}
.paginator li a{display:block;color:#F08337}
.paginator li a:hover{text-decoration:none}
.page-nav{display:inline;white-space:nowrap;font-size:14px;zoom:1}
.page-nav li{display:inline;margin-left:5px;vertical-align:top}
.page-nav a{display:inline-block;width:34px;height:24px;padding:5px 0;border:1px solid #e3e8e8;border-radius:1px;zoom:1;line-height:24px;background:#FFF;color:#F08337}
.page-nav a:hover{text-decoration:none;border-color:#F08337}

.page-nav .current a{color:#FFF;font-weight:bold;border-color:#F08337;background:#F08337}
.page-nav .previous a{width:42px;padding:5px 10px 5px 16px;background:#fff url("../images/newicon.png") no-repeat 0 -111px}
.page-nav .next a{width:42px;padding:5px 16px 5px 10px;background:#fff url("../images/newicon.png") no-repeat -56px -111px}
.sysmsgw{width:918px;margin:10px auto 0}
.sysmsg-tip{font-size:14px;padding:10px 60px 10px 14px;border:1px #fed286 solid;background:#fff5d5;margin:0 0 10px;border-radius:5px}
.sysmsg-tip .sysmsg-tip-close{}
.sysmsg-tip .deal-close{z-index:1}
.sysmsg-tip .deal-close .body{height:30px;padding-left:220px}
.sysmsg-tip .deal-close .subscribe-succ{display:block;padding-top:5px}
.sysmsg-tip .deal-close td{line-height:1;*line-height:1.2;vertical-align:middle;padding-top:1px}
.sysmsg-tip .deal-close .f-text{width:216px}
.sysmsg-tip-deal-close{margin-bottom:25px}
.sysmsg-tip-deal-close .deal-close .f-text{border-color:#63c5c8}
.sysmsg-tip-deal-close .deal-close .btn{height:25px;line-height:20px}
.sysmsg-tip-deal-close .sysmsg-tip-close{}
.sysmsg-tip strong{color:#F00;margin:0 6px}
.sysmsg-tip--newindex{margin:0;border:0;text-align:center}
.sysmsg-banner-tip{padding:0;border:0;height:48px}
.sysmsg-banner-tip .sysmsg-tip-close{display:none}
.common-msg{background:#ffffe5 url("../images/bg-common.png") no-repeat 10px -888px;border:1px solid #ffcc7f;margin:0 10px 10px;padding:17px 50px}
.common-msg strong{color:#F00}
.common-banner{text-align:center}

#bdw{min-height:500px}
.idinfo-zhejiang{width:37px}
.idinfo-shanghai{width:40px}
.idinfo-shandong{width:142px}
.idinfo-chongqing{width:111px}
.new-index-triffle-w{position:fixed;_left:50%;margin-left:500px;font-size:12px;letter-spacing:2px;z-index:2}
.new-index-triffle{display:block;background:#FFF;margin-bottom:-1px;width:36px;height:36px;padding:7px 6px 7px 8px;border:1px solid #DDD;color:#999;text-align:center}
.new-index-triffle--stack{margin-bottom:10px}
.new-index-triffle:nth-child(1){border-top-left-radius:2px;border-top-right-radius:2px}
.new-index-triffle:nth-last-child(1){border-bottom-left-radius:2px;border-bottom-right-radius:2px}
.new-index-triffle:hover{text-decoration:none;color:#0BB}
#bd .bread-nav{margin:0 0 10px;font-size:12px;color:#333}
#bd .bread-nav a{color:#000}
#bd .bread-nav span{margin:0 5px;color:#898989}
#content{float:left;width:720px;_display:inline;padding:0}
#content .mainbox{background:#FFF;border:1px solid #d4d4d4;padding:20px;clear:both;zoom:1;height:auto!important;min-height:400px;height:400px}
#content .mainbox p.tip{margin-bottom:5px}
#content .box-topic h2{border-bottom:1px solid #e5e5e5;font-size:30px;margin:-20px -20px 0;padding:15px 0 9px 20px}
#content .blk-tip{margin:0;padding:10px 15px;border:1px solid #f6e0af;font-size:12px;background:#fffbf2}
#content .blk-tip h5{margin:0 0 5px}
#content .blk-tip li{margin-left:20px;list-style:disc outside}
#content .mht-tips{padding:50px 0;text-align:center}
#content .mht-tips h3{font-size:26px;font-family:"Microsoft YaHei","微软雅黑";color:#cc0001}
#content .mht-tips .more{font-size:14px;line-height:30px;margin-bottom:20px}
.mine{z-index:1;zoom:1}
.mine .filter{margin-bottom:10px;padding:5px 0 10px;border-bottom:1px solid #dcdcdc;z-index:5}
.mine .filter li{float:left;margin:0 5px 0 0;font-size:12px}
.mine .filter a{display:block;padding:1px 3px}
.mine .filter .current a{padding:1px 7px;background:#f08337;color:#fff;border-radius:3px}
.mine .spectip{float:right;margin-top:14px;color:#C30}
.mine .bonus{}
#sidebar{float:right;width:240px;_display:inline}
#sidebar h2{font-size:16px;padding-bottom:9px}
#sidebar .sidebox{border:2px solid #89b4d6;background-color:#eff8ff;margin-bottom:10px;padding-bottom:12px}
#sidebar .sidebox h3{font-size:14px;height:32px;line-height:32px;background:#EEE;border-bottom:1px #FFF solid;padding:0 12px;_padding-top:2px;background:-moz-linear-gradient(top,#FFF,#eaecec);background:-webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#eaecec));background-image:linear-gradient(top,#FFF,#eaecec);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#EAECEC');box-shadow:0 1px 0 #eaecec}
#sidebar .sideinner{height:auto!important;min-height:48px;height:48px;padding:12px 12px 6px}
#sidebar .banner{height:125px!important;overflow:hidden;padding:0;background:#e4f7ff}
#sidebar .consult p{padding:0 0 0 60px;color:#ccc}
#sidebar .tips p{font-size:12px;color:#666;margin-bottom:12px}
#sidebar .tips ul{font-size:12px;color:#666;margin-bottom:12px}
#sidebar .tips li{list-style:outside disc;margin-left:16px}
#sidebar .tips li strong{font-weight:700}
#sidebar .credit{padding:10px 10px 10px 15px}
#sidebar .cnnic{height:60px;padding:0}
#sidebar .commitment{height:106px;padding:0}
#sidebar .movie{height:118px;padding:0}
#sidebar .campus{height:80px;padding:0}
#sidebar .mt-app-download{height:300px;padding:0;border:1px solid #d4d4d4}
#sidebar .banner-slider{height:140px;padding:0;overflow:hidden}
#sidebar .promotion{overflow:hidden;padding:0}
#sidebar .alipayforevent{height:126px;overflow:hidden;padding:0}
#sidebar .miaosha4{height:126px;overflow:hidden;padding:0}
#sidebar .sbox{margin-bottom:15px}
#sidebar .commitment img,#sidebar .movie img,#sidebar .campus img,#sidebar .banner-slider img,#sidebar .lottery img,#sidebar .mobile img,#sidebar .cnnic img,#sidebar .gift img,#sidebar .alipayforevent img,#sidebar .miaosha4 img,#sidebar .promotion img{vertical-align:bottom}
#sidebar .miaosha img{border:1px #eae8e8 solid;margin:6px 0}
#sidebar .miaosha p{margin-bottom:20px}
#sidebar .miaosha p a{display:block;width:64px;height:25px;background:url("../images/deals.png") no-repeat -220px -72px;text-indent:-9999px;}
#sidebar .miaosha strong{color:#F00}
#sidebar .side-box{margin-bottom:10px;border:1px solid #d4d4d4}
#sidebar .side-box--slider{}
#sidebar .side-box__title{padding:9px 15px;background:#FFF}
#sidebar .side-box img{vertical-align:top}
#sidebar .side-box--topic{background-color:#FFF}
#sidebar .side-box--topic .topic-item-w{*zoom:1;*vertical-align:bottom}
#sidebar .side-box--topic .topic-item{display:block;height:140px;overflow:hidden;background-repeat:no-repeat}
#sidebar .side-box--topic .topic-item:hover{text-decoration:none}


#sidebar .side-single h3 .inner-link{display:inline;margin-left:10px;padding-right:10px;font-size:12px;color:#666}
#sidebar .side-single .inner-link .arrow{width:5px;height:10px;}
#sidebar .side-single h3 .inner-link:hover{color:#ef8337;text-decoration:underline}
#sidebar .side-single .inner-link:hover .arrow{background-position:-395px -8px}


#sidebar .side-single .last{border-bottom:0}
#sidebar .side-single .lottery{color:#3e4545;padding-top:0}
#sidebar .side-single .inner-side{padding:0}
#sidebar .side-single .inner-img-blk{display:block;border-bottom:1px solid #f0f0f0;padding:40px 0 20px 42px;color:#666;font-size:12px;background-position:-15px 0;background-repeat:no-repeat}
#sidebar .side-single .inner-img-blk:hover{color:#0BB;text-decoration:none}
#sidebar .side-single .inner-img-blk:hover .no-hover{color:#666}
#sidebar .side-single .side-custom-selfservice a{display:block;padding:20px 0 0 42px;font-size:12px;color:#666;text-decoration:none}
#sidebar .side-single .side-custom-selfservice span{display:block;color:#666}
#sidebar .side-single .side-custom-selfservice a:hover{color:#0BB}
#sidebar .side-top-single{margin-bottom:12px}
#sidebar .side-top-single .inner-blk{border-bottom:0}
#sidebar .side-consult .inner-box{height:25px;background-position:2px 6px;background-repeat:no-repeat}
#sidebar .side-consult p{line-height:26px;padding:0 0 0 20px;color:#CCC}
#sidebar .side-consult a{line-height:25px}
#sidebar .side-single .side-save{padding:20px 0 20px 42px;}
#sidebar .side-single .side-save span{display:block}
#sidebar .side-single .side-save strong{padding:0 .3em;color:#ee5238}
#sidebar .side-tips p{font-size:12px;color:#666;margin-bottom:12px}
#sidebar .side-tips .more-help{color:#000}
#sidebar .side-tips h4{font-size:12px}
#sidebar .side-tips ul,#sidebar .side-tips ol{font-size:12px;color:#666;margin-bottom:12px}
#sidebar .side-tips li{list-style:outside disc;margin-left:16px;line-height:21px}
#sidebar .side-tips--no-style li{list-style:none;margin-left:1px}
#sidebar .side-tips li p{line-height:1.5}
#sidebar .side-tips li strong{font-weight:700}
#sidebar .uix-collapse__trigger{margin-bottom:10px;padding-left:15px;cursor:pointer;font-size:14px;font-weight:normal;}
#sidebar .uix-collapse__content{margin-bottom:15px;padding-left:15px}
#sidebar .uix-collapse--open .uix-collapse__trigger{background-position:0 -38px;background-position:0 -40px\9}
#sidebar .side-single .side-custom-service{padding-top:62px;}

#sidebar .side-hot-deals .deal{margin-bottom:20px;border-bottom:1px dashed #e0e0e0;font-size:12px}
#sidebar .side-hot-deals .last-deal{margin-bottom:0;border:0}
#sidebar .side-hot-deals .last-deal .info{margin-bottom:0}
#sidebar .side-hot-deals .deal .pic{display:block;margin:0 auto 6px}
#sidebar .side-hot-deals .deal h4{margin-bottom:4px}
#sidebar .side-hot-deals .deal h4 a{font-weight:normal;color:#666}
#sidebar .side-hot-deals .info{margin-bottom:12px;color:#666;font-family:Helvetica,arial,sans-serif;zoom:1}
#sidebar .side-hot-deals .info strong{margin-right:5px;font-size:16px;color:#F76120}
#sidebar .side-hot-deals .total{}
#sidebar .side-hot-deals .total span{color:#ef5438}
#sidebar .side-hot-deals .around-deal-distance{margin-bottom:4px;padding-left:15px;font-size:12px;font-weight:bold;color:#000;*zoom:1}
#sidebar .side-hot-deals .around-deal-distance span{width:10px;height:18px;background:url("../images/around-icon.png") 0 -60px no-repeat}
#sidebar .side-newbie{width:240px;border:1px solid #d4d4d4}
#sidebar .side-recommend-deals h3{margin-bottom:0}
#sidebar .side-recommend-deals .more{float:right;font-size:12px}
#sidebar .side-recommend-deals .deal{padding:15px 0;border-bottom:1px dotted #e0e0e0;font-size:12px;line-height:15px}
#sidebar .side-recommend-deals .deal--last{border-bottom:0;padding-bottom:0}
#sidebar .side-recommend-deals .title{color:#666;text-decoration:none;height:30px;overflow:hidden;font-weight:normal;display:block;margin-bottom:5px}
#sidebar .side-recommend-deals .title:hover{color:#0BB}
#sidebar .side-recommend-deals .photo{float:left;margin-right:10px}
#sidebar .side-recommend-deals .price{color:#f76120;font-weight:bold}
#sidebar .side-recommend-deals .count{float:right;color:#999}
.side-rank-deals{font-size:12px}
.side-rank-deals h3{font-size:16px;margin-bottom:-5px}
.side-rank-deals .index{width:15px;height:16px;line-height:16px;_line-height:14px;text-align:center;color:#fff;background:url("../images/newicon.png") -68px -92px}
.side-rank-deals h6{padding-left:20px;margin-bottom:8px;font-weight:normal}
.side-rank-deals.rank-deals-recommend h6{padding-left:0;text-indent:-0.5em}
.side-rank-deals.rank-deals-recommend .index{display:none}
.side-rank-deals h6 a{display:block;width:188px;color:#333;white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;overflow:hidden}
.side-rank-deals h6 a:hover{text-decoration:none;color:#F08337}
.side-rank-deals li{margin-top:25px;color:#666;zoom:1}
.side-rank-deals img{float:left;margin-right:10px}
.side-rank-deals .info-content{float:left;height:40px;padding-top:15px;overflow:hidden}
.side-rank-deals .info-content .price{line-height:20px;font-size:14px;font-weight:bold;font-family:arial,sans-serif;color:#ee5238}
.side-rank-deals .total{line-height:26px;color:#999}
.side-rank-deals .total span{color:#333;font-weight:bold}
.side-rank-movies ul{margin-top:10px;font-family:Helvetica,Arial,'宋体'}
.side-rank-movies li{margin-top:0;padding:10px 0;border-bottom:1px solid #f1f1f1;zoom:1}
.side-rank-movies .last{border-bottom:0}
.side-rank-movies .info-content{height:auto;width:127px;padding-top:0}
.side-rank-movies .title{line-height:15px;color:#3dabac;font-family:'宋体';font-weight:bold}
.side-rank-movies a{display:block;color:#333}
.side-rank-movies a:hover{text-decoration:none;color:#ef8337}.
side-rank-movies .description{height:34px;color:#666;overflow:hidden}
.side-rank-movies .release{color:#999}
.side-rank-movies .rates,.side-rank-movies .wish{line-height:24px}
.side-rank-movies .rates{padding-left:0}
.side-rank-movies .wish{font-size:12px;color:#F60}
.side-rank-movies .wish__count{vertical-align:-1px;font-size:14px}
#sidebar .pay-consolation{font-size:12px;line-height:21px}
#sidebar .pay-consolation h3{font-size:14px}
#sidebar .pay-consolation .fan-ie{background-position:0 -57px}

#sidebar .side-img{display:block}
.dashboard{float:left;_display:inline;zoom:1}
.dashboard ul{float:left;_display:inline}
.dashboard li{float:left;_display:inline;margin-right:3px;font-size:14px}
.dashboard li a{float:left;height:27px;padding:8px 7px 0;text-align:center;border:1px solid #d4d4d4;border-radius:5px 5px 0 0;box-shadow:inset 0 -2px 2px #def2f3;background:#f8fdfd;outline:0}
.dashboard li a:hover{border:1px solid #c1e0e2;box-shadow:inset 0 -2px 2px #def2f3;background:#effffe;color:#28a2a2;text-decoration:none}
.dashboard li.current a{border-bottom:1px solid #FFF;box-shadow:none;background:#FFF;color:#777}
.dashboard li.current .icon-new,.dashboard li .icon-new{}

.dashboard .amount{color:#e95002;font-size:.9em}
.blk-item{margin:0 0 15px;padding:0 16px 10px;border:1px solid #e5e5e5;font-size:12px}
.blk-item h3{margin:0 -16px 10px;padding:5px 16px;border-bottom:1px solid #e5e5e5;font-size:14px;line-height:22px;background:#f7f7f7;color:#333}
.blk-item h3 span{font-weight:normal;font-size:12px;color:#999}
.blk-item hr{margin:10px -16px;border:0;border-bottom:1px dotted #e5e5e5;color:#FFF}
.blk-item h4{margin-bottom:8px;font-size:14px;font-weight:normal}
.blk-item h4 span{font-size:12px;color:#999}
.blk-item .text{margin:0 0 6px}
.blk-item .tip{font-size:12px;color:#999}
.blk-item .warning{color:#C00}
.section{margin:0 0 10px;padding:0 10px 16px;border:1px solid #d3e9fd;overflow:hidden;zoom:1}
.section h3{margin:0 0 8px -16px;padding:8px 16px;font-size:14px;background:#d3e9fd;color:#333}
.info-section{margin:0 0 10px;padding:8px 16px;font-size:12px;border:1px solid #f6e0af;background:#fffbf2;overflow:hidden;zoom:1}
.info-section dt{margin-bottom:2px;font-weight:bold}
.info-section dt span{margin-left:10px;font-weight:normal}
.info-section dd{margin-bottom:5px;padding-bottom:8px;border-bottom:1px dashed #f6e0af}
.info-section dd.last{margin-bottom:0;padding-bottom:0;border-bottom:0}
.info-section em{font-weight:bold;color:#D00}
.info-section h3{font-size:12px}
.info-section h3 span{margin-left:6px;font-weight:normal}
.info-section .info-heading{margin-bottom:8px;padding-bottom:3px;font-weight:bold;border-bottom:1px dotted #f6e0af}
.info-section .info-item{list-style:inside decimal}
.info-section .indent-list{padding-left:10px}
.info-section--rounded{border-radius:5px}
.blue-info-section{margin:0 0 10px;padding:8px 16px;font-size:12px;border:1px solid #d3e9fd;background:#eff8ff;overflow:hidden;zoom:1}
.blue-info-section h3{font-size:12px}
.blue-info-section h3.underline{margin-bottom:5px;padding-bottom:3px;border-bottom:1px solid #DDD}
.blue-info-section h3.follow-title{margin-top:10px}
.blue-info-section h3 span{margin-left:6px;font-weight:normal}
.blue-info-section .flow-list li{display:inline-block;*display:inline;width:190px;margin-right:10px}
.blue-info-section .field-title,.blue-info-section .field-element{display:block;margin:0 0 6px}
.bunch-section{margin:0 0 10px;font-size:12px;background:#FFF;border:1px solid #d3e9fd;overflow:hidden;zoom:1}
.bunch-section__label{padding:5px 8px;font-size:14px;font-weight:bold;color:#333;background:#d3e9fd}
.bunch-section__label span{margin-left:6px;font-weight:normal;font-size:12px}
.bunch-section__content{padding:5px 8px 10px}
.bunch-section .flow-list li{display:inline-block;*display:inline;width:220px;margin-right:10px;zoom:1}
.common-form .field-group label{padding-top:4px}
.common-form .captcha .f-text{width:60px}
.common-form .captcha img{height:30px;vertical-align:top;border:1px #CCC solid;cursor:pointer}
.common-form a.inline-link{margin:0 0 0 4px;font-size:12px;line-height:32px;vertical-align:top;zoom:1
.field-group{padding:3px 10px 3px 110px;margin:0 auto 8px;zoom:1}
.field-group label{width:100px;padding-top:2px;font-size:14px;text-align:right;color:#333}
.field-group label.text{padding-top:0}
.field-group label.normal{position:static;width:auto;padding:0;text-align:left}
.field-group label .required{color:#C00}
.field-group .f-input{width:280px}
.common-form .f-text,.field-group .f-text,.field-group--small .f-text{width:220px;height:20px;*margin:-1px auto;padding:5px;border:1px solid #ccc;line-height:20px;vertical-align:top}
.field-group--small .f-text{height:16px;line-height:16px}
.field-group--small a.inline-link{line-height:28px}
.field-group .f-text-disabled{color:#b9b9b9;filter:alpha(opacity=75);opacity:.75}
.field-group .f-textarea{width:220px;height:100px;*margin:-1px auto;padding:5px;border:1px solid #ccc}
.field-group select{height:22px;margin:5px auto;border:1px solid #c0c0c0}
.common-form input.f-text:hover,.field-group input.f-text:hover,.field-group textarea:hover{border-color:#b9b9b9}
.common-form input.f-text:focus,.field-group input.f-text:focus,.field-group textarea:focus{box-shadow:inset 0 1px 2px #cdcdcd;border-color:#63c5c8;outline:0}
.field-group .desc{margin-top:3px}.field-group .tip{display:block;font-size:12px;color:#999}
.field-group .inline-tip{display:inline-block;*display:inline;margin-left:4px;padding:6px 0;line-height:20px;font-size:12px;color:#999;vertical-align:top;zoom:1}
.field-group--type .inline-tip,.field-group--ok .inline-tip,.field-group--error .inline-tip{padding:5px 8px 5px 24px;color:#666;border:1px solid #a4dbfe}
.field-group--ok .inline-tip{height:20px;width:24px;padding:6px 0;background-color:transparent;background-position:6px 8px;border:0}
.field-group--error .inline-tip{background-color:#fff1f1;background-position:5px -193px;border-color:#ffbebd}
.field-group .block-tip{display:block;height:18px;margin-bottom:-18px;line-height:18px;font-size:12px;color:#999}
.field-group--error .block-tip{padding-left:18px;color:#D00;}
.field-group--error input.f-text,.field-group--error input.f-text:hover,.field-group--error .f-textarea,.field-group--error .f-textarea:hover,.field-group--error textarea,.field-group--error textarea:hover{border-color:#ee4d3d;box-shadow:inset 0 1px 2px #ee4d3d}
.field-group em{font-weight:bold;color:#D00}
.field-group--highlight{background:#fdf0e3}

.field-group--highlight input.f-text:focus,.field-group--highlight textarea:focus{border-color:#ffa960}
.field-group--required label:before{color:#e32;content:'*'}
#content .head{padding:0 10px 10px}
#content .head h2{display:inline;padding-left:10px;font-size:28px}
#content .head .filter{}
#content .head .filter li{float:left;margin:0 5px 0 0;font-size:12px}
#content .head .filter a{padding:3px 1px}
#content .head .filter .current a{padding:3px 7px;background:#00adb2;color:#fff;-moz-border-radius:2px;-webkit-border-radius:2px}
#content div.success h2,#content div.error h2{font-size:28px;font-family:'黑体',helvetica,arial,sans-serif}
#content .title{padding:0 10px}
#content .title h3{display:inline;padding-left:10px;font-size:20px}
#content .sect{width:678px;padding:20px 10px 50px;border-top:1px solid #def}
#content .field{float:left;_display:inline;width:650px;padding:0 10px 2px;margin:5px auto 10px}
#content .field label{float:left;padding-right:20px;width:90px;height:30px;line-height:30px;font-size:14px;text-align:right;color:#333}
#content .field .f-input{float:left;width:280px;margin:3px 0 0}
#content .field .f-text{float:left;width:280px;margin:3px 0 0}
#content .field .f-textarea{float:left;width:290px;height:100px;margin:3px 0 0}
#content .field .f-check{float:left;margin-top:3px;*margin-top:0}
#content .readonly{color:#666;background:#f1f1f1}
#content .hint{clear:left;float:left;width:300px;margin-left:110px;font-size:12px;color:#999}
#content .act{clear:left;padding:0 10px 0;margin-left:110px}
#content .act .button{width:158px;height:33px;padding-left:0;cursor:pointer}
#content .notice-title{font-size:16px}
#content .notice{padding:10px 0}
#content .notice-special{margin:10px;padding:10px;border:1px dashed #ccc;background:#f1f1f1}
#content tr.address-temp{background:#eff8ff}
#content p.noitem{padding:200px 0;text-align:center;font-size:24px}
#content.preview{padding:0 129px}
#content .buy-process-bar li{width:226px}
#content .address-field-list{margin:5px 0 5px}
#content .address-field-list .field-group{margin-bottom:0;padding-top:0;padding-bottom:18px;padding-left:84px}
#content .address-field-list label{width:84px;font-size:12px}
#content .address-field-list .error{display:block;width:440px;border:1px solid #f60;height:25px;line-height:25px;margin:5px 0 0;padding-left:28px;padding-right:10px;}
#content .address-field-list .address-province{width:140px;margin-right:15px}
#content .address-field-list .address-city{width:140px;margin-right:15px}
#content .address-field-list .address-district{width:140px;margin-right:15px}
#content .address-field-list .address-biz{width:140px;margin-right:15px}
#content .address-field-list .address-building{width:140px;margin-right:15px}
#content .address-field-list .address-zipcode{width:120px}
#content .address-field-list .address-detail{width:470px}
#content .address-field-list .address-city-detail{width:270px}
#content .address-field-list .address-name{width:120px}
#content .address-field-list .address-phone{width:120px}
#content .address-field-list .address-floor{width:60px}
#content .address-field-list .address-room{width:60px}
.index-bottom-city-hyperlink{margin:0 auto 14px;padding:10px 30px;background:#fff5d5;border:1px solid #fed286;font-size:14px;text-align:center;clear:both}
.index-bottom-city-hyperlink em{color:#C00}
.search-tip{margin-bottom:10px;padding:8px 15px;line-height:18px;border:1px solid #d4d4d4;font-size:12px;background-color:#f9f9f9;word-wrap:break-word}
.search-tip--merge{margin-bottom:0;border-bottom:0}
.search-tip .feedback{float:right}
.search-tip p{margin-right:10em}
.search-tip .keyword,.search-tip .count{padding:0 5px;color:#f76120;font-weight:bold}
.search-tip .view-expired{margin-left:10px}
.view-shops-tip{margin-bottom:10px;padding:8px 15px;border:1px solid #e5dadb;background-color:#fff7d0}
.view-shops-tip i{display:inline-block;margin-right:5px;width:15px;height:15px;background-image:url("../images/search_shop.png");background-repeat:no-repeat;vertical-align:-2px}
.view-shops-tip .keyword{color:#f76120;font-weight:bold}
.view-shops-tip--movie{background:#fff;border-color:#d4d4d4;font-size:12px;padding-top:0;padding-bottom:0}
.view-shops-tip--movie .view-shops-tip__header{padding:15px 0 5px}
.view-shops-tip--movie .shop{border-top:1px dotted #ededed;margin:0 -15px;padding:10px 15px;display:block}
.view-shops-tip--movie .shop:hover{background:#fafafa;text-decoration:none}
.view-shops-tip--movie .shop--first{border-top:0}
.view-shops-tip--movie .shop__name{width:300px;font-size:14px;font-weight:bold}
.view-shops-tip--movie .shop__deal{width:120px}
.view-shops-tip--movie .shop__address{width:280px}
.view-shops-tip--movie .shop__subway{width:98px}
.view-shops-tip--movie .shop__subway i{display:block;float:left;height:18px;width:18px;margin:0;background:url("../images/label-icons.png") -185px -41px no-repeat;}
.view-shops-tip--movie .shop__xuanzuo{width:373px}
.view-shops-tip--movie .shop__name,.view-shops-tip--movie .shop__subway,.view-shops-tip--movie .shop__deal,.view-shops-tip--movie .shop__xuanzuo{display:inline-block;*display:inline;*zoom:1}
.view-shops-tip--movie .shop__subway,.view-shops-tip--movie .shop__deal,.view-shops-tip--movie .shop__xuanzuo,.view-shops-tip--movie .shop__address{color:#999}
.view-shops-tip--movie .type{color:#666}.view-shops-tip--movie .price{color:#f76120;font-size:16px;font-family:arial,sans-serif;padding:0 2px}
#search .error-tip{border-color:#fec46f;background-color:#fff5e5}
#search .mainbox{padding:14px 20px;border:1px solid #d4d4d4}
#search .mainbox h2{font-size:20px;color:#777}
#search .mainbox .list-head{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #dcdcdc}
#search .mainbox .list-head h2{float:left;border:0;padding:0;margin:0}
#search .mainbox .more{float:right;padding-top:6px}
#search .mall .view-expired{padding:7px 15px;margin-bottom:14px;background:#FFF;clear:left;zoom:1}
#search .expired-deal-list{background:#FFF;margin-bottom:10px;border:1px solid #d4d4d4;padding:20px;clear:both;zoom:1}
#search .expired-deal-list li{}
#search .expired-deal-list .status-over{width:87px;height:68px;outline:0;background:url("../images/over.png") no-repeat}
#search .expired-deal-list .last-deal .status-over{}
#deal-share{float:left;_display:inline;margin-left:24px;border:1px solid #89b4d6;border-bottom:0;border-radius:5px 5px 0 0;padding:5px 0 3px 20px;background-color:#eaf6ff}
#deal-share span{float:left}#deal-share ul{float:left;_display:inline;margin-top:2px;margin-right:10px}
#deal-share li{float:left;_display:inline;margin-left:3px;margin-right:10px}
#deal-share a{display:block;padding-left:20px;line-height:16px;*line-height:18px;;color:#000;font-size:12px;font-family:Helvetica,arial,sans-serif;outline:0}
#deal-share a:hover{color:#0981be}
#deal-share .kaixin{background-position:0 -40px}
#deal-share .renren{background-position:0 -80px}
#deal-share .douban{background-position:0 -120px}
#deal-share .email{background-position:0 -161px}
#deal-share .sina{background-position:0 -202px}
#deal-share .t139{background-position:0 -241px}
#deal-share .qq{background-position:0 -280px}
#deal-share .qzone{background-position:0 -320px}
#deal-share a.collapse:hover{color:#0BB;text-decoration:underline}
#deal-share .effect-assistance{clear:left;float:left;width:544px}
.deal-share-im-content{clear:left;float:left;padding:10px 10px 10px 0;width:544px}
.deal-share-im-content .f-input{width:345px;*width:262px}
.deal-share-im-content .collapse{}
#deal-rating{padding:12px 15px;margin-bottom:10px;background-color:#FFF;line-height:36px;border:1px solid #d4d4d4}
#deal-rating em{font-family:arial,sans-serif;font-weight:bold;color:#f44d3b}
#deal-rating .stars{margin:10px 30px 2px 6px;width:80px;vertical-align:top;*vertical-align:0}
#deal-rating .score-info{padding-left:35px;zoom:1}
#deal-rating .score-info:hover{text-decoration:none}
#deal-rating .score-info em{font-size:24px;line-height:36px;vertical-align:top}
#deal-rating .few-reviews-tip{display:inline-block;height:16px;width:16px;margin-right:10px;line-height:16px;vertical-align:-2px;cursor:default;}
.poi-level .review-count{padding-left:5px;color:#ef8337}
.poi-level strong{color:#fd1113}
.poi-level a{text-decoration:none;color:inherit}
.poi-level .common-rating--biz{vertical-align:-1px;*vertical-align:1px}
.pg-zlorders #sidebar,#orders #sidebar,#collections #sidebar,#points #sidebar,#credit #sidebar,#magiccard #sidebar,#settings #sidebar,#referrals #sidebar,#refund-detail #sidebar,#press #sidebar,#job #sidebar,#growth #sidebar,.pg-xuanzuo #sidebar,#about #sidebar{padding-top:37px}
body.yui-skin-sam .yui-panel .bd{padding:1px;background:#fff}
#order-pay-dialog{outline:0}
#order-pay-dialog .bd{padding:1px;background:#fff}
#order-pay-dialog .info{margin:14px 15px 30px;height:56px;padding:4px 0 0 80px;font-size:16px;font-family:'黑体',arial,sans-serif}
#order-pay-dialog .notice{line-height:20px;padding-left:15px}
#order-pay-dialog .act{margin:15px 15px 20px;text-align:center}
#order-pay-dialog .act .success{margin-right:6px}
#order-pay-dialog .retry{margin:30px 15px 34px}
#type-select-dialog h4{margin:10px 0 10px 16px}
#type-select-dialog .type-select-wrapper{height:auto!important;height:320px;max-height:320px;overflow-y:scroll}
#type-select-dialog table{width:100%;*width:95%}
#type-select-dialog table th{padding:12px 10px;font-weight:normal;background:#eff8ff}
#type-select-dialog table td{padding:12px 10px}
#type-select-dialog .alt td,#type-select-dialog .alt th{background:#f8f8f8}
#type-select-dialog .status{width:15px;padding-right:0}
#type-select-dialog .type{width:100px}
#type-select-dialog .desc{width:auto}
#type-select-dialog .quantity{width:120px;padding-left:0;padding-right:0;text-align:center}
#type-select-dialog .quantity .minus,#type-select-dialog .quantity .plus{display:inline-block;width:13px;height:13px;font-size:0;line-height:13px;outline:0;vertical-align:middle}
#type-select-dialog .quantity .plus{background-position:-52px 0}
#type-select-dialog .quantity :hover.minus{background-position:-26px 0}
#type-select-dialog .quantity :hover.plus{background-position:-65px 0}
#type-select-dialog .quantity .minus-disabled,#type-select-dialog .quantity :hover.minus-disabled{background-position:0 0}
#type-select-dialog .quantity .plus-disabled,#type-select-dialog .quantity :hover.plus-disabled{background-position:-39px 0}
#type-select-dialog .quantity .f-text{width:40px;height:20px;margin:0 5px;*margin:-1px 5px;padding:5px;line-height:20px;border:1px solid #fb9d65;text-align:center;vertical-align:middle}
#type-select-dialog .quantity .f-text:focus{box-shadow:inset 0 1px 2px #dbdbdb;outline:0}
#type-select-dialog table .error{margin-bottom:0;font-size:12px;color:#c33}
#type-select-dialog .last{font-size:12px;color:#999}
#type-select-dialog .last strong{color:#c33}
#type-select-dialog .act{padding:10px 0}
#set-password-dialog .description{margin-bottom:20px}
#set-password-dialog .field-group{margin:5px 0;padding:0 10px 22px 66px;line-height:22px}
#set-password-dialog .password-strength{margin-bottom:19px}
#set-password-dialog .field-group label{width:56px}
#set-password-dialog .error{font-size:12px}
.common-banner{margin-bottom:10px;border:1px solid #d4d4d4;overflow:hidden}
.common-banner img{vertical-align:top}
.common-banner .mt-slider-trigger-container{width:auto;background:transparent;}
.common-banner .mt-slider-trigger{width:12px;height:12px;margin-left:3px;padding:0;background:#e5e5e5;border:1px solid #e5e5e5;font-size:10px;line-height:12px;text-align:center;color:#757575;zoom:1;cursor:pointer}.common-banner .mt-slider-trigger:hover{border-color:#0a9ca0;text-decoration:none}
.common-banner .mt-slider-current-trigger{color:#FFF;background:#33babe;border-color:#33babe}
.common-banner .mt-slider-current-trigger:hover{border-color:#33babe}
.common-banner :hover.close{opacity:.5;filter:alpha(opacity=50)}
.common-banner--index,.common-banner--index .sheet{width:978px;height:88px}
.common-banner--large,.common-banner--large .sheet{width:978px;height:180px}
.common-banner--movie,.common-banner--movie .sheet{width:718px;height:117px}
.common-banner--movie{margin-bottom:12px}
.common-banner--newtop .common-banner__sheets{height:60px}
.common-banner--newtop .common-banner__sheet{width:100%}
.common-banner--newtop .common-banner__link{display:block;z-index:85}
.common-banner--newtop .mt-slider-trigger-container{display:none}
.mobile-rebind-dialog .common-form{margin:10px auto;width:400px}
.mobile-rebind-dialog .field-group{margin:5px 0;padding:0 10px 22px 110px;line-height:22px}
.mobile-rebind-dialog .field-group label{margin:0;padding:0;line-height:22px}
.mobile-rebind-dialog .field-group .f-text{margin-bottom:3px;height:22px;line-height:22px}
.mobile-rebind-dialog .field-group .readonly{color:#666;background:#f1f1f1}
.mobile-rebind-dialog .operate{margin:3px 0}
.mobile-rebind-dialog .mobile .f-text{width:190px}
.mobile-rebind-dialog .mobile .f-text-verify{width:90px}
.mobile-rebind-dialog .mobile .f-verify-code{width:88px}
.mobile-rebind-dialog .mobile .tip{display:block;margin:0 0 -22px;height:18px;line-height:18px}
.mobile-rebind-dialog .mobile .error{padding-left:18px;color:#D00;background:url("../images/sys16.png") 0 -199px no-repeat}
.mobile-rebind-dialog .hint{display:block;margin:0;font-size:12px;color:#999}
.mobile-rebind-dialog .inline-hint{display:inline;margin-left:15px;zoom:1}
.mobile-rebind-dialog .f-block-verify{padding-bottom:0}
.mobile-rebind-dialog .f-block-verify .tip{margin:0;height:auto}
.mobile-rebind-dialog .f-block-verify .f-verify{width:100px;margin:9px 0;line-height:24px;font-size:12px;vertical-align:top;cursor:pointer}
.mobile-rebind-2step-dialog .common-form{margin-top:20px}
.mobile-rebind-2step-dialog .f-block-mobile{margin-bottom:0}
.mobile-rebind-2step-dialog .f-block-verify{padding-bottom:22px}
.mobile-rebind-2step-dialog .f-block-button{padding-bottom:0;margin:3px 0 18px}
.mobile-rebind-2step-dialog .field-group{padding-left:82px}
.mobile-rebind-2step-dialog .field-group label{width:72px}
.mobile-rebind-2step-dialog .help-toggle{display:block;padding-left:18px;margin-top:10px;color:#D00;height:18px;line-height:18px;font-size:12px;background:url("../images/sys16.png") 0 -98px no-repeat;cursor:pointer}
.mobile-rebind-2step-dialog .help-content{font-size:12px}
.mobile-rebind-2step-dialog .progress-bar{margin-bottom:30px;font-size:0;line-height:0;color:#666;background:#f2f2f2;border-radius:3px;overflow:hidden}
.mobile-rebind-2step-dialog .progress-bar .step{display:inline-block;*display:inline;width:200px;font-size:14px;line-height:30px;_line-height:29px;text-align:center;zoom:1;z-index:2}
.mobile-rebind-2step-dialog .progress-bar .step-first{border-radius:3px 0 0 3px}
.mobile-rebind-2step-dialog .progress-bar .step-last{border-radius:0 3px 3px 0}
.mobile-rebind-2step-dialog .progress-bar .arrow,.mobile-rebind-2step-dialog .progress-bar .highlight{width:0;height:0;border-width:15px 0 15px 15px;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #f2f2f2;font-size:0;line-height:0}
.mobile-rebind-2step-dialog .progress-bar .highlight{border-left-color:#FFF;border-width:17px 0 17px 17px}
.mobile-rebind-2step-dialog .progress-bar .current{background:#fedbb9;z-index:1}
.mobile-rebind-2step-dialog .progress-bar .current .arrow{border-left-color:#fedbb9}
.recommend-deals{padding:16px 10px;width:680px;font-size:12px;line-height:21px}
.recommend-deals h3{margin-left:10px;font-size:14px}
.recommend-deals .deal{float:left;padding:10px 10px 0;color:#666}
.recommend-deals .pic{vertical-align:top}
.recommend-deals h4{margin:6px 0;width:150px;height:42px;text-indent:-0.5em;font-weight:normal;overflow:hidden}
.recommend-deals .deal-title{color:#666}
.recommend-deals .info{*width:150px;zoom:1}
.recommend-deals .price,.recommend-deals .num{color:#C33;font-family:Helvetica,arial,sans-serif}
.recommend-deals .original-price{margin-left:5px}
.recommend-deals .original-price .num{color:#666;text-decoration:line-through}
.recommend-deals .total{right:0}.recommend-skin{background:#FFF;border:1px solid #d4d4d4}
.wide-reco-pannel{padding:16px 0;width:944px}
.wide-reco-pannel h3{margin-left:14px}
.wide-reco-pannel .deal{padding:10px 14px}
.wide-reco-pannel h4{width:208px}
.wide-reco-pannel .info{*width:208px}
.wide-reco-pannel .price{font-size:14px}
#cart-result-dialog .result-box{width:200px}
#cart-result-dialog .operate{margin:20px auto;text-align:center}
#cart-result-dialog .btn-cart{font-size:12px}
#cart-result-dialog .btn-cart--left{margin:0 10px}
#cart-result-dialog strong{margin:0 3px}
#recommand-contact-city-dialog .body{padding-left:70px;padding-right:50px}
#recommand-contact-city-dialog .recommand{margin-bottom:20px}
#recommand-contact-city-dialog .btn{margin-right:10px}
.option-switch{padding:0 15px;height:43px;border-bottom:1px solid #d4d4d4;font-size:14px;overflow:hidden}
.option-switch__delimiter{float:left;margin:14px 10px;width:0;height:14px;line-height:10px;border-left:1px solid #cacaca}
.option-switch__option{float:left;margin-bottom:5px;padding:11px 5px 7px;height:18px;text-decoration:none}
.option-switch__option:hover{text-decoration:none}
.option-switch__option--selected{padding-bottom:5px;border-bottom:2px solid #f08337;color:#666;cursor:default}
.ccf{overflow:hidden;_zoom:1}
