@charset "utf-8";
/* CSS Document */

#main{width:980px;margin:0 auto;padding:10px 0 35px}
.shop-list__error{margin-top:100px;text-align:center}
.shop-list__error .icon{vertical-align:top}
.shop-list__error .detail{margin-left:10px;line-height:54px}
.shop-list__error .keyword{padding:0 5px;color:#ea4f01;font-weight:bold}
.shop-item{margin:0 0 14px;background:#fff;border:1px solid #d4d4d4;color:#666}
.shop-item li{width:730px;}
.shop-item--more{margin-bottom:36px;padding-bottom:1px}
.shop-list a{color: #F08337;}
.shop-meta{padding:13px 15px 5px;background:#fffaf6;border-bottom:1px solid #f2f1ed;font-size:12px;line-height:24px;}
.shop-meta__name{font-size:14px}
.shop-meta__branch-link{margin-left:5px;font-weight:normal}
.shop-meta__address{float:left;max-width:386px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;_width:330px}
.shop-meta__phone{padding-left:18px}
.shop-meta__tags{display:block}
.shop-meta__tags a{margin-right:5px}
.shop-meta__rate-status{text-align:right;font-size:12px;position:absolute;right:15px;top:13px}
.shop-meta__evaluate-score{display:block;margin:6px 0;height:12px;line-height:12px}
.shop-meta__evaluate-score .common-rating{text-align:left}
.common-rating--biz {background: url("../images/stars-biz.png") repeat-x scroll 0 0;margin-right: 5px;width: 70px;}
.common-rating, .common-rating .rate-stars{display: inline-block;height: 12px;line-height: 12px;overflow: hidden;vertical-align: top;}
.shop-meta__evaluate-link{vertical-align:1px;*vertical-align:baseline}
.shop-deals .shop-deal__link{display:block;margin:0 15px;padding:15px 0;border-top:1px solid #f2f1ed;color:#666;cursor:pointer}
.shop-deal__link:hover{text-decoration:none;background:#fafafa}
.shop-deal__link:focus{outline:0}
.shop-deal__wrapper--first .shop-deal__link{border-top:0}
.shop-deal__wrapper--hidden{display:none}
.shop-deal__area{float:left;height:54px}
.shop-deal__area--title{width:255px;padding:0 15px;font-size:14px;line-height:27px}
.shop-deal__area--price{width:125px;text-align:center}
.shop-deal__area--count{padding-right:10px;width:160px;text-align:right;font-size:12px}
.shop-deal__area--price .price{display:block;font-size:20px;color:#ee5238}
.shop-deal__area--price .num{font-family:arial}
.shop-deal__area--price .origin-price{font-size:12px;color:#999}
.shop-old-deals{height:30px;padding:15px;line-height:30px;font-size:14px;text-align:center}
.page-nav-wrapper{clear:both;padding-top:20px;text-align:center}

#filter{margin-bottom:10px;font-size:12px;line-height:19px;*zoom:1}
#filter .filter-label-list{padding-left:5em;_zoom:1;position:relative}
#filter .filter-label-list .label{width:5em;text-align:right;position:absolute;left:0}
#filter .inline-block-list .item{display:inline-block;*display:inline;*zoom:1;}
#filter .filter-sortbar-outer-box{border:1px #d4d4d4 solid;background:#FFF}
#filter .filter-sortbar-outer-box .label{top:16px}
#filter .filter-section-wrapper{padding:0 15px}
#filter .filter-section-wrapper .filter-section{padding:12px 0 12px 65px;border-top:1px dotted #dbdbdb}
#filter .filter-main--attrs .filter-section{padding-left:50px}
#filter .filter-sortbar-outer-box .first-filter{border-top:0}

#filter .filter-section-wrapper .item{margin:4px 10px 4px 0;vertical-align:top}
#filter .filter-section-wrapper .item a{display:block;_display:inline;padding:0 4px;height:19px;_zoom:1}
#filter .filter-section-wrapper .item a span{margin-left:3px;font-size:10px;font-family:arial,sans-serif;color:#999}
#filter .filter-section-wrapper .item a:hover{border-radius:2px;text-decoration:none;color:#FFF;background-color:#F08337}
#filter .filter-section-wrapper .item a:hover span{color:#FFF}
#filter .filter-section-wrapper .current a{border-radius:2px;background-color:#45abab;color:#FFF}
#filter .filter-section-wrapper .current a:hover{cursor:pointer}
#filter .filter-section-wrapper .current a span{color:#FFF}
#filter .filter-section-wrapper .has-fc a{display:inline-block;*display:inline}
#filter .filter-section-wrapper .has-fc b{margin-right:1px;font-family:arial,sans-serif;font-weight:normal;color:#ee5238}
#filter .filter-section-wrapper .has-icon{padding-left:2em;width:3em;*zoom:1;background:url("../images/nav_icon.png") 0 0 no-repeat;}
#filter .travel-filter-wrapper .has-icon{width:4em}
#filter .travel-filter-wrapper .has-icon,#filter .buziarea-filter-wrapper .has-icon,#filter .geo-filter-wrapper .has-icon{background-position:0 -20px}
#filter .dinnernum-filter-wrapper .has-icon{background-position:0 -40px}
#filter .dinnerprice-filter-wrapper .has-icon{background-position:0 -60px}
#filter .date-filter-wrapper .has-icon,#filter .time-filter-wrapper .has-icon{background-position:0 -100px}
#filter .room-filter-wrapper .has-icon{background-position:0 -120px}
#filter .subway-filter-wrapper .has-icon{background-position:0 -140px}
#filter .facility-filter-wrapper .has-icon{background-position:0 -160px}
#filter .brand-filter-wrapper .has-icon{background-position:0 -200px}
#filter .cinema-type-wrapper .has-icon{background-position:0 -220px}
#filter .destination-filter-wrapper .has-icon{background-position:0 -240px}
#filter .shoppingmall-filter-wrapper .has-icon{background-position:0 -260px}
#filter .sub-sub-filter-section{padding-left:4em}
#filter .hot-tag-wrapper .label{top:7px;left:15px}
#filter .hot-tag-wrapper .item{margin:7px 12px 7px 0;padding:0 4px;height:18px;vertical-align:top}
#filter .hot-tag-wrapper .item:hover{border-radius:2px;text-decoration:none;color:#FFF;background-color:#45abab}
#filter .hot-tag-wrapper .hot{color:#ee5238}
#filter .sort-bar{padding:0 15px;border-top:1px solid #EEE;height:37px;background:#f7f7f7}
#filter .button-strip{margin:8px 10px 8px 0;font-size:12px;line-height:19px;text-align:center}
#filter .button-strip-item{border:1px solid #e8e8e8;padding:0 6px;background:#f9f9f9;color:#666;*cursor:pointer;_vertical-align:top}
#filter .button-strip-item-checked{background:#eeeded;color:#666;text-decoration:none}
#filter .button-strip-item:hover{background:#e0e0e0;text-decoration:none}
#filter .button-strip-item-checked:hover{background:#eeeded;box-shadow:none}
#filter .button-strip-item-left{border-top-left-radius:0;border-bottom-left-radius:0}
#filter .button-strip-item-right{margin-right:-1px;border-top-right-radius:0;border-bottom-right-radius:0}
#filter .button-strip-item .button-outer-box{width:4em}
#filter .middle-button .button-outer-box{width:5em}
#filter .large-button .button-outer-box{width:6em}
#filter .button-strip-item .button-content{line-height:19px}
#filter .button-strip-item .button-img{margin:6px 0 5px 6px;_margin:6px 0 -1px 6px;width:7px;height:8px;vertical-align:top}
#filter .button-strip-item-asc .sp-header-new{background-position:-85px -79px}
#filter .button-strip-item-desc .sp-header-new{background-position:-98px -79px}
#filter .button-strip-item-asc-active .sp-header-new{background-position:-112px -79px}
#filter .button-strip-item-desc-active .sp-header-new{background-position:-125px -79px}
#filter .checkbox{margin:9px 10px 8px 10px;padding-left:15px;color:#333;line-height:19px;text-decoration:none;text-align:left;background:url("../images/newicon.png") -237px -151px no-repeat;vertical-align:top;outline:0}
#filter .checkbox-nocheck:hover{text-decoration:none;background-position:-237px -128px;*background-position:-237px -151px}
#filter .checkbox-checked{background-position:-237px -105px}
#filter .checkbox-disabled{background-position:-237px -174px;color:#AAA;cursor:default}
#filter .checkbox-checked-disabled{background-position:-237px -88px;cursor:default}
#filter .checkbox--hot{color:#ee5238}

.side-rank-deals li{width:210px}
.side-rank-deals h6{font-weight: normal;margin-bottom: 8px;padding-left: 20px;position: relative;}
.side-rank-deals .index{ background: url("../images/newicon.png") repeat scroll -68px -92px rgba(0, 0, 0, 0);color: #fff;height: 16px;left: 0;line-height: 16px;position: absolute;text-align: center;top: 1px;width: 15px;}
#sidebar .side-single .inner-blk{padding:20px 0;border-bottom:1px solid #f0f0f0}
#sidebar .side-single{padding:0 15px;margin-bottom:10px;border:1px solid #d4d4d4;background:#fff}
#sidebar .side-single h3{margin-bottom:12px}
